*{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-color: rgb(249, 102, 89);
    width: 100%;
    height: 500px;
    position:relative;
}
.header-row{
    background-color: rgb(247, 89, 83);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;   
}

.column {
    float: left;
    color:blue;
    font-size: 20px;
    padding: 19px;
    /* background-color: aqua; */
    padding-left: 50px;
    padding-right: 50px;
}

.column:hover{
    background-color: white;
}

.under-header{
    width: 100%;
    height: 1px;
    background-color: rgb(63, 58, 58);
    top:calc(60px);
    position:fixed;
}

.column-start{
    /* background-color: blueviolet; */
    width:25%;
    margin-left: auto;
    margin-right:auto;
    width : 500px;
    height: 500px;
    
}
.row-start{
    font-size: 70px;
    color:aliceblue;
    padding-top: 150px;
    padding-left: 30px;
}

.row-template{
    margin-left: 23%;
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
}
.start-button{
    margin-left: 30%;
    color: aliceblue;
    font-size: 30px;
    background-color: black;
    border-radius: 10px;
    margin-top: 40px;
    height: 60px;
    width: 200px;
}

.start-button:hover{
    background-color: blue;
}

.second-container{
    width: 100%;
    background-color: rgb(252, 251, 250);
    height: 500px;   
}

.anchor-level{
    float: left;
}
.column-firstwriting{
    padding-top: 75px;
    width: 40%;
    margin-left: 15%;
}
.the-writing{
    margin-top: 50px;
}

.small-writing{
    margin-top: 50px;
}

.column-shipanchor{
   padding: 50px;
   margin-top: 75px;  
}

.anchor{
    height: 200px;
    width: 200px; 
}

.cup-level-container{
    width: 100%;
    height: 500px;
    background: rgb(208, 207, 207);
}

.cup-column{
    width: 20%;
    margin-left: 200px;
    margin-top: 100px;   
}

.coffee-cup{
    width: 175px;
    height: 175px;
    background-color: rgba(87, 86, 86, 0.22);
}

.cup-writing-column{
    width: 40%;
    margin-top: 100px;
}

.cup-first-writing{
    margin-top: 25px;
}

.cup-second-writing{
    margin-top: 25px;
}
.cup-level{
    float: left;
}

.quote-row{
    width: 100%;
    height: 150px;
    background: grey;
}

.quote-column{
    font-size: 25px;
    padding-left: 40%;
    padding-top: 4.3%;
    color:aliceblue;
}